$text-color: #333;
$text-color-light: #666;
$text-color-lighter: #999;
$text-color-inverse: #fff;
$border-color: #eee;
$disabled-color: #bbb;
$background-color: #f8f8f8;
$link-color: #108ee9;
$mask-color: rgba(17, 17, 17, .7);
$component-color: #fff;

$primary-color: #108ee9;
$success-color: #09bb07;
$danger-color: #e64340;
$warning-color: #e96900;

$button-height-large: 44px;
$button-height-normal: 36px;
$button-height-small: 30px;
$button-line-height-large: $button-height-large - 2px;
$button-line-height-normal: $button-height-normal - 2px;
$button-line-height-small: $button-height-small - 2px;
$button-font-size-large: 16px;
$button-font-size-normal: 14px;
$button-font-size-small: 12px;
